{% extends "layout.html.twig" %}
{% block contenu %}
    <p> <h2> Liste des clients</h2></p>

<table>
    <thead>
        <tr>
            <th>Num</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Adresse</th>
            <th>Complement</th>
            <th>CP</th>
            <th>Ville</th>
            <th>Tel</th>
        </tr>
    </thead>
    <tbody>
        {%  for client in clients %}
        <tr>
            <td>{{ client.getId() }}</td>
            <td>{{ client.getNomCli() }}</td>
            <td>{{ client.getPrenomCli() }}</td>
            <td>{{ client.getAdresseRue1Cli() }}</td>
            <td>{{ client.getAdresseRue2Cli() }}</td>
            <td>{{ client.getCpCli() }}</td>
            <td>{{ client.getVilleCli() }}</td>
            <td>{{ client.getTelCli() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{%  block footer %}
    {{  parent() }}
    Nombre de clients : {{ clients|length }}
{%  endblock %}